
* {
  font-family: Arial, Helvetica, sans-serif;
}

/* ROW LOGO SONY */

.ms_sony-wrap {
  height: 50px;
  background-color: black;
}
.ms_img-sony {
  height: 40%;
  margin-right: 12px;
}

/* SEARCH NAVBAR */

.ms_m-top-nav {
  margin-top: 50px;
}

.ms_search a {
  font-size: 18px;
  color: #000;
}

/* JUMBOTRON */

.ms_jumbotron {
  background-image: url('img/jumbo-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 760px;
  margin-top: 126px;
}

.ms_col-jumbo {
  max-width: 20%;
  height: 100%;
  padding-bottom: 65px;
}

.ms_game-logo img {
  max-width: 65%;
}

.ms_title-game {
  font-size: 2.5em;
}

/* MAIN */

/* Thumbnail */

.ms_thumb img {
  border: 2px solid #147DD2;
  border-radius: 20px;
  padding: 3px;
  cursor: pointer;
}

/* Section PLAYSTATION 5 */

.ms_play-5 {
  margin-top: 120px;
}

.ms_mini-title {
  font-size: 14px;
  color: #147DD2;
}

.ms_subt-play-t {
  color: #737373;
}

/* PlayStation 5 info */

.ms_play5-mt {
  margin-top: 80px;
}

.ms_subt-play-b {
  color: #737373;
  width: 91%;
}

/* Sezione Accessori PS5 */
.ms_wrap-w {
  width: 90%;
  margin: auto;
  margin-top: 20px;
}

.ms_name-item {
  font-size: 16px;
}

.ms_border-b-act {
  border-bottom: 2px solid #147DD2;
  cursor: pointer;
}

.ms_border-b:hover {
  border-bottom: 2px solid #147DD2;
  cursor: pointer;
}

/* Sezione Gioco 2 */

.ms_game-two {
  background-image: url('img/it-takes-two-hero-banner-desktop.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 690px;
  margin-top: 30px;
}

.ms_col-game-two {
  height: 100%;
}