
* {
  font-family: Arial, Helvetica, sans-serif;
}

/* ROW LOGO SONY */

.ms_sony-wrap {
  height: 50px;
  background-color: black;
}
.ms_img-sony {
  height: 40%;
  margin-right: 12px;
}

/* SEARCH NAVBAR */

.ms_search a {
  font-size: 18px;
  color: #000;
}

/* JUMBOTRON */

.ms_jumbotron {
  background-image: url('img/jumbo-bg.png ');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 760px;
}

.ms_col-jumbo {
  max-width: 20%;
  height: 100%;
  padding-bottom: 65px;
}

.ms_returnal-logo img {
  max-width: 65%;
}

.ms_h1-jumbo {
  font-size: 2.5em;
}

/* MAIN */

/* Thumbnail */

.ms_thumb img {
  border: 2px solid #147DD2;
  border-radius: 20px;
  padding: 3px;
  cursor: pointer;
}